.main {
  color: #1c2532;
  font-size: 16px;
}

.main__container {
  max-width: 50.75rem;
  margin: 3rem 1rem 0 1.5625rem;
  padding: 0 0.625rem;
}

.main__me {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-bottom: 2.375rem;
}

.main__name {
  display: inline-block;
  font-size: 36px;
  color: #1c2532;
  line-height: 1.2;
  font-weight: 700;
}

.main__position {
  font-weight: 300;
  color: rgba(28, 37, 50, 0.8);
  margin-left: 0.4375rem;
}

.columns {
  display: flex;
  position: relative;
  gap: 6.25rem;
  margin-left: 0.4375rem;
  margin-bottom: 2.625rem;
}

.about-main {
  position: relative;
  margin-left: 0.4375rem;
  margin-bottom: 2.5rem;
}

.about-main::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.9375rem;
  width: 100%;
  height: 0.1563rem;
  background-color: rgba(200, 209, 221, 0.8);
}

.columns::before {
  content: "";
  position: absolute;
  left: 0;
  top: -0.9375rem;
  width: 100%;
  height: 0.1563rem;
  background-color: rgba(200, 209, 221, 0.8);
}

.title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0.625rem;
  line-height: 1.2;
}

.about-main__text {
  font-weight: 300;
  color: rgba(28, 37, 50, 0.9);
  line-height: 1.5;
  text-align: start;
}

.about-main__content {
  font-weight: 300;
  color: rgba(28, 37, 50, 0.9);
  line-height: 1.5;
  display: flex;
  gap: 0.625rem;
  align-items: center;
}

.about-main__icon {
  flex: 0 0 36px;
  height: 36px;
  border: 1px solid rgba(28, 37, 50, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 0.1s ease 0s;
}

.about-main__icon:hover {
  border: 1px solid rgba(28, 37, 50, 1);
}

.list li:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.list__item {
  position: relative;
  padding-left: 1.25rem;
}

.list__item h3 {
  margin-bottom: 0.625rem;
}

.list__item::before {
  content: "";
  position: absolute;
  top: 0.125rem;
  left: 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgba(28, 37, 50, 0.8);
}

.list__inner li {
  padding-left: 0.625rem;
}

.list__inner li:not(:last-child) {
  margin-bottom: 0.3125rem;
}

@media (max-width: 991.98px) {
  .columns {
    gap: 3.125rem;
  }
  .main__container {
    padding: 0 0.3125rem;
  }
}

@media (max-width: 767.98px) {
  .page__main {
    margin-bottom: 3.125rem;
  }

  .columns {
    gap: 6.95rem;
  }
}

@media (max-width: 521px) {
  .page__main {
    margin-bottom: 1.875rem;
  }

  .columns {
    display: flex;
    flex-direction: column;
  }

  .columns {
    gap: 2.5rem;
    align-items: center;
    text-align: center;
  }

  .list__item {
    text-align: center;
  }

  .main__me {
    align-items: center;
    text-align: center;
  }

  .main__name {
    margin-bottom: 1.25rem;
  }

  .main__about .about-main__title {
    text-align: center;
  }
}
